<!DOCTYPE html>
<html>

<head>
    <style>
        .form-group {
            margin: auto;
            margin-top: 50px;
            width: 500px;
            border: 8px solid transparent;
            border-image: linear-gradient(to bottom right, #c06426 0%, #d344b0 25%, #cb417f 50%, #c98820 75%, #ce713b 100%);
            border-image-slice: 1;
            padding: 10px;
            text-align: center;
        }

        input {
            width: 100%;
            display: inline;
            float: none;

        }
    </style>
</head>

<body>
    <br>
    <div class="form-group">
        <form (ngSubmit)="register()">
            <h1>Registruj se</h1>
            <div>
                <mat-form-field class="example-full-width" appearance="fill" [style.fontSize.px]=17
                    [style.width.px]=350>
                    <mat-label>Username</mat-label>
                    <input type="text" matInput placeholder="enter your username" required name="username"
                        [(ngModel)]="username">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" [style.fontSize.px]=17 [style.width.px]=350>
                    <mat-label>Enter your password</mat-label>
                    <input type="text" matInput placeholder="enter your password" required name="password"
                        [(ngModel)]="password">
                </mat-form-field>
            </div>
            <p>Već imate nalog? <a href="/login">Prijavite se</a> </p>
            <button mat-stroked-button color="accent" type="submit" [style.fontSize.px]=17>Register</button>
        </form>
    </div>
</body>

</html>